# Ignore by default
**/*

# Include base directory files
!LICENSE

!.editorconfig
!.eslintrc.js
!.prettierignore
!.prettierrc
!.gitignore
!.dockerignore
!.eslintrc.js
!.editorconfig
!.prettierignore
!.prettierrc
!tsconfig.json
!jest.config.js
!stylePaths.js
!package.json
!package-lock.json

!Dockerfile
!README.md
!Makefile
!toolbox.sh
!webpack.common.js
!webpack.dev.js
!webpack.prod.js

# Add templates and workflows
!.github
!.github/**
!.github/**/*

# Add docs
!docs
!docs/**
!docs/**/*

# Add source code
!src
!src/**
!src/**/*.ts

# Add tests
!test
!test/**
!test/**/*

# Remove snapshots
**/__snapshots__
**/__snapshots__/*

